@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/NewsStyle.css" />
    <link rel="stylesheet" href="~/Content/rating.css" />

    <script src="~/Scripts/ratingJS.js"></script>
</head>
<body>
    @Html.Partial("StartPage")
    </body>
</html>
